<nav class="navbar navbar-default navbar-inverse" ng-controller="NavController">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a ui-sref="cards.explore"><span class="glyphicon glyphicon-picture"></span> Explore Cards</span></a>
      </li>
      <li>
        <a ui-sref="cards.browse"><span class="glyphicon glyphicon-list-alt"></span> Browse</span></a>
      </li>
      <li>
        <a ui-sref="cards.check"><span class="glyphicon glyphicon-tag"></span> Check</span></a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav navbar-right"
          ng-hide="signedIn()">
        <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
      </li>
      <li class="nav navbar-right"
          ng-hide="signedIn()">
        <a ui-sref="register"><span class="glyphicon glyphicon-pencil"></span> Sign up</a>
      </li>
      <li class="nav navbar-right"
          ng-show="signedIn()"
          ng-click="logout()"><a href=""><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
      <li class="nav navbar-right"
          ng-show="signedIn()">
        <a ui-sref="users({ userID: user.id })"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a>
      </li>
    </ul>
  </div>
</nav>
