<div class="container">
  <div class="span12">
    <h1>WELCOME!</h1>
    <img class="img-responsive text-centered" src="assets/owego.jpg">
    <p>This is the entrance to a restaurant near where I used to live in Owego, NY.  Those are jail bars.  It used to be a jail.  It's a small town.  The food is amazing though.</p>
    <ul>
      <li><h3>Explore</h3>
        <p>In the spirit of Flickr's 'Explore' from a few years ago, this will show you 4 random images from the entire set of saved words.</p>
      </li>
      <li><h3>Browse</h3>
        <p>You can look through the list of saved words and search, sort, view, all sorts of good stuff.</p>
      </li>
      <li><h3>Check</h3>
        <p>You can check for words, locations, coordinates.  Lots of words don't have pictures, but lots do too.  Just try and force yourself to have fun with it, ok?</p>
      </li>
    </ul>
  </div>
</div>
