<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a ui-sref="words"><span class="glyphicon glyphicon-tag"></span> Words</span></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-picture"></span> Haiku<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            May
          </li>
          <li>
            June
          </li>
          <li>
            July
          </li>
        </ul>
      </li>
      <li>
        Soul
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        Heart
      </li>
      <li class="navbar-right">
        Boogie
      </li>
    </ul>
  </div>
</nav>
