<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a ui-sref="cards"><span class="glyphicon glyphicon-picture"></span> Cards</span></a>
      </li>
      <li>
        <a ui-sref="cards.browse"><span class="glyphicon glyphicon-list-alt"></span> Browse</span></a>
      </li>
      <li>
        <a ui-sref="cards.check"><span class="glyphicon glyphicon-tag"></span> Check</span></a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav navbar-right">
        <a ui-sref="home"><span class="glyphicon glyphicon-user"></span> Me</a>
      </li>
      <li class="nav navbar-right">
        <a ui-sref="home"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      </li>
    </ul>
  </div>
</nav>
