<!DOCTYPE html>
<html>
<head>
  <title>Streetviewhaiku</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="app">

    STEVE!
    <%= @fred.id %>
    <ui-view></ui-view>

  </div>
</body>
</html>
